version: '3.8'

services:
  postgres:
    image: postgres:13
    container_name: ionos_ip_service_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: changeme123
      POSTGRES_DB: mydb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./Context/Data/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

